params {
  id = 'sample'
  reference = null
  bam = null
  bai = null
  analyzer = 'features'
  format = 'arrow-ipc'
  shard_count = 4
  budget_mb = 4096
  scheduler_margin_mb = 256
  image = 'ghcr.io/logannye/rosalind@sha256:REPLACE_WITH_LOCKED_DIGEST'
}

process.executor = 'local'
docker.enabled = true
